*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    font-family:Arial, sans-serif;
    background:#0f172a;
    color:white;
}

/* Navbar */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    background:#111827;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    font-size:24px;
    font-weight:bold;
    color:#38bdf8;
}

.nav-links{
    display:flex;
    list-style:none;
}

.nav-links li{
    margin-left:25px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    transition:0.3s;
}

.nav-links a:hover{
    color:#38bdf8;
}

.menu-btn{
    display:none;
    font-size:30px;
    cursor:pointer;
}
.profile-img{
    width:200px;
    height:200px;
    border-radius:50%;
    object-fit:cover;
    border:4px solid #38bdf8;
    margin-bottom:20px;
}

/* Hero */

.hero{
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hero h1{
    font-size:55px;
}

.hero span{
    color:#38bdf8;
}

.hero h2{
    margin-top:15px;
}

.hero p{
    margin:20px auto;
    max-width:600px;
}

.btn{
    display:inline-block;
    padding:12px 25px;
    background:#38bdf8;
    color:white;
    text-decoration:none;
    border-radius:8px;
    margin:10px;
    transition:0.3s;
}

.btn:hover{
    transform:translateY(-4px);
}

.secondary{
    background:#2563eb;
}

/* Sections */

section{
    padding:80px 10%;
}

.section-title{
    text-align:center;
    margin-bottom:40px;
    color:#38bdf8;
}

/* Skills */

.skills-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}

.skill{
    padding:15px 25px;
    background:#1e293b;
    border-radius:25px;
    transition:0.3s;
}

.skill:hover{
    transform:scale(1.1);
}

/* Projects */

.projects-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:30px;
}

.project-card{
    width:300px;
    background:#1e293b;
    padding:25px;
    border-radius:10px;
    transition:0.3s;
}

.project-card:hover{
    transform:translateY(-8px);
}

/* Contact */

#contact{
    text-align:center;
}

footer{
    background:#111827;
    text-align:center;
    padding:20px;
}

/* Mobile */

@media(max-width:768px){

    .nav-links{
        display:none;
        flex-direction:column;
        position:absolute;
        top:80px;
        right:0;
        width:200px;
        background:#111827;
        padding:20px;
    }

    .nav-links.active{
        display:flex;
    }

    .menu-btn{
        display:block;
    }

    .hero h1{
        font-size:35px;
    }
}
